body{
	background: #1b0202;
}
.menu{
	background: #000000;
	color: #FFF;
	width: 1024px;
	height: 400px;
	margin: 0 auto;
	border-radius: 10px;
}

.menu .header {
	font-size: 48px;
	text-align: center;
}

.menu .difficulty{
	font-size: 24px;
	display: inline-block;
	height: 150px;
	margin-left:    20px;
	padding-bottom: 60px;
}

.header2{
	font-weight: bold;
	font-size: 24px;
}

div#cards_board{
	max-width: 980px;
	margin: 0 auto;
}

div#cards_board > div{
	background: blue;
  	background-size: cover;
  	background-position: center;
	width:135px;
	height:200px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:0px;
	cursor:pointer;
	text-align:center;
}

.backs{
	display: inline-block;
	margin-left: 60px;
}
.backs .set_back{
	width: 90px;
	height: 145px;
	margin-top: 10px;
	margin-right: 15px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: cover;
  	background-position: center;
}

.action_button{
	width: 200px;
	height: 50px;
	border-radius: 10px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 40px;
	font-size: 25px;
}

.enter_info{
	display: inline-block;
	margin-left: 20px;
	font-size: 24px;
}

.enter_info .data1{
	font-size: 20px;
	width: 218px;
	height: 25px;
}

.enter_info .data2{
	font-size: 20px;
	width: 190px;
	height: 25px;
}

.enter_info .data3{
	font-size: 20px;
	width: 210px;
	height: 25px;
}
 .timer{
	 display: inline-block;
	 color: white;
	 font-size: 34px;
	 margin-left: 150px;
 }

 .sec{
	 display: inline-block;
 }