.menu{
	background: #0A64A4;
	color: #FFF;
	width: 1024px;
	margin: 0 auto;
	border-radius: 10px;
}

.menu .header {
	font-size: 48px;
	text-align: center;
}

.menu .difficulty{
	margin-left:    20px;
	padding-bottom: 20px;
}
.menu .difficulty .diff_head{
	font-size: 24px;
}

div#cards_board{
	max-width: 770px;
	margin:0 auto;
}

div#cards_board > div{
	background: blue;
  	background-size: cover;
  	background-position: center;
	width:132px;
	height:200px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
}

.backs{
	margin-left: 20px;
	margin-bottom: 40px;
}
.backs .set_back{
	width: 100px;
	height: 150px;
	margin-right: 15px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: cover;
  	background-position: center;
}

.button_start{
	width: 200px;
	height: 50px;
	border-radius: 10px;
	margin-left: 20px;
	margin-bottom: 20px;
	font-size: 25px;
}
